body {
  margin: 0;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 600px;
  padding: 80px 40px 40px 80px;
  font-size: 18px;
  line-height: 1.35;
}

p {
  margin: 0 0 12px 0;
}

em {
  font-style: italic;
}

a {
  color: blue;
  text-decoration: underline;
}
